<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sv.edu.udb.escuela">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Escuela">

        <!-- Pantalla inicial: Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú principal -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- Registro de nuevos usuarios -->
        <activity android:name=".RegisterActivity" android:exported="true" />

        <!-- Registro de estudiantes -->
        <activity android:name=".RegistrarEstudianteActivity" android:exported="true" />

        <!-- Registro de notas -->
        <activity android:name=".RegistrarNotaActivity" android:exported="true" />

        <!-- Listado de estudiantes con notas finales -->
        <activity android:name=".ListaEstudiantesActivity" android:exported="true" />

        <!-- Actualizar/eliminar estudiante -->
        <activity android:name=".ActualizarEstudianteActivity" android:exported="true" />

        <!-- Actualizar/eliminar notas -->
        <activity android:name=".ActualizarNotasActivity" android:exported="true" />

    </application>

</manifest>